.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-it{
    width: 200px;
    height: 200px;
    background-color: #ffc;
    margin: 15px;
    padding: 10px;
    
}
.post-it p{
    color: rgb(253, 127, 255);
    font-size: 36px;
    
}
