/* Estilos para el navbar lateral */

.navbar-lateral {
  background-color: #2c3e50; /* Color de fondo del navbar lateral */
  width: 250px; /* Ancho del navbar lateral */
  height: 100vh; /* Altura del navbar lateral (ocupar toda la altura vertical) */
  padding-top: 20px; /* Espacio superior interno */
}

.nav-lateral-content {
  list-style-type: none; /* Elimina los estilos de viñetas de la lista */
  padding: 0; /* Elimina el relleno interno de la lista */
}

.nav-item {
  margin-bottom: 15px; /* Espacio entre cada elemento del navbar lateral */
}

.letter-lateral {
  color: #ffffff; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado del texto */
  font-size: 18px; /* Tamaño de fuente del texto */
}

.letter-lateral:hover {
  color: #ffcc33; /* Color del texto al pasar el mouse */
}
